body, html{
    margin: 0;
    padding: 0;
    /*background-color: #15141B;*/
    overflow: hidden;
    background: rgba(37,37,38,1);
    background: -moz-linear-gradient(top, rgba(37,37,38,1) 0%, rgba(27,24,43,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(37,37,38,1)), color-stop(100%, rgba(27,24,43,1)));
    background: -webkit-linear-gradient(top, rgba(37,37,38,1) 0%, rgba(27,24,43,1) 100%);
    background: -o-linear-gradient(top, rgba(37,37,38,1) 0%, rgba(27,24,43,1) 100%);
    background: -ms-linear-gradient(top, rgba(37,37,38,1) 0%, rgba(27,24,43,1) 100%);
    background: linear-gradient(to bottom, rgba(37,37,38,1) 0%, rgba(27,24,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252526', endColorstr='#1b182b', GradientType=0 );

    height: 100%;
    width: 100%;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.title-bar{
  background-color: #15141B;
  display: block;
  width: 100%;
  height: 40px;
}
#close {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 6px;
    -webkit-app-region: no-drag;
}
#maximize {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;
    background: transparent url('../img/maximize.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 38px;
    -webkit-app-region: no-drag;
}
#minimize {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;
    background: transparent url('../img/minimize.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 70px;
    -webkit-app-region: no-drag;
}

.title{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
    position: absolute;
    text-align: center;
    line-height: 2.3;
    color: #CCC;
}
.drawer {
  display: inline-block;
  position: absolute;

  background: #15141B;

  width: 260px;
  height: 100%;
  top: 0px;
}

.drawer span{
  font-size: 17px;
  padding: 0 5px 0 15px;
  width: 40px;
}

.drawer li{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
  text-align: left;
  background: rgba(255,255,255,0.0);
  width: 100%;
}

.drawer a{
  background: rgba(255,255,255,0.0);
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.drawer a:hover{
  background: rgba(255,255,255,0.1);
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.menuclear{
  display: inline-block;
  width: 1px;
  height: 31px;
}


#close {
  float: right;
  font-size: 21 px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow:0 1px 0 # fff;
  filter: alpha(opacity = 20);
  opacity: .2
}
#close:hover, .close:focus {
  color: #000;
  text-decoration:none;
  cursor:pointer;
  filter:alpha(opacity=50);
  opacity: .5
}
#maximize {
  float: right;
  font-size: 21 px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow:0 1px 0 # fff;
  filter: alpha(opacity = 20);
  opacity: .2
}
#maximize:hover, .maximize:focus {
  color: #000;
  text-decoration:none;
  cursor:pointer;
  filter:alpha(opacity=50);
  opacity: .5
}
#minimize {
  float: right;
  font-size: 21 px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow:0 1px 0 # fff;
  filter: alpha(opacity = 20);
  opacity: .2
}
#minimize:hover, .minimize:focus {
  color: #000;
  text-decoration:none;
  cursor:pointer;
  filter:alpha(opacity= 50);
  opacity: .5
}

.playbar{
  background-color: #15141B;
  display: block;
  width: 100%;
  height: 75px;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

#albumart{
    background-color: #888;
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
}

#albumart:hover{
    background-color: #888;
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor:pointer;
    filter:alpha(opacity= 50);
    opacity: .5
}

#playButton{
    display: inline-block;
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 165px;
}

#stopButton{
    display: inline-block;
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 210px;
}

#playButton:hover{
    display: inline-block;
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 165px;
    cursor:pointer;
    filter:alpha(opacity= 50);
    opacity: .5
}

#stopButton:hover{
    display: inline-block;
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 210px;
    cursor:pointer;
    filter:alpha(opacity= 50);
    opacity: .5
}

#skipForwardButton{
    display: inline-block;
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 260px;
}

#skipBackwardButton{
    display: inline-block;
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 120px;
}

#skipForwardButton:hover{
    display: inline-block;
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 260px;
    cursor:pointer;
    filter:alpha(opacity= 50);
    opacity: .5
}

#skipBackwardButton:hover{
    display: inline-block;
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 120px;
    cursor:pointer;
    filter:alpha(opacity= 50);
    opacity: .5
}

#repeatButton{
    display: inline-block;
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 900px;
}

#repeatButton:hover{
    display: inline-block;
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 900px;
    cursor:pointer;
    filter:alpha(opacity= 50);
    opacity: .5
}

#volumeButton{
    display: inline-block;
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 940px;
}

#volumeButton:hover{
    display: inline-block;
    position: absolute;
    font-size: 32px;
    top: 10px;
    left: 940px;
    cursor:pointer;
    filter:alpha(opacity= 50);
    opacity: .5
}

#repeatCheck, #volumeCheck{
    display: none;
}

#scrubber{
    display: inline-block;
    position: absolute;
    width: 50%;
    top: 30px;
    left: 350px;

    &:hover,
    &:focus {
    background-color: @slider-handle-hover-bg;
    outline: none;
    }
    &:active {
    background-color: @slider-handle-active-bg;
    }
}

#timeline{
    display: inline-block;
    position: absolute;
    width: 500px;
    height: 20px;
    top: 30px;
    left: 390px;
    /* border-radius: 15px; */
    background: rgba(255,255,255,.3);
    cursor:pointer;
}

#playhead{
	display: inline-block;
	width: 10px;
	height: 20px;
	/* border-radius: 50%; */
	margin-bottom: 4px;
	background: rgb(52, 73, 94);
    cursor:pointer;
}

#playhead:hover, #playhead:active{
	display: inline-block;
	width: 10px;
	height: 20px;
	/* border-radius: 50%; */
	margin-bottom: 4px;
	background: rgb(32, 53, 74);
    cursor:pointer;
}

#volumeBacking{
    display: none;
    position: absolute;
    width: 30px;
    height: 120px;
    top: -110px;
    left: 945px;
    z-index: 4;
    /* border-radius: 15px; */
    background: #15141B;
}


#volumeSlider{
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 100px;
    top: 5px;
    left: 5px;
    z-index: 4;
    /* border-radius: 15px; */
    background: rgba(255,255,255,.3);
    cursor:pointer;
}

#volumeHead{
	display: inline-block;
	width: 20px;
	height: 20px;
	/* border-radius: 50%; */
	margin-bottom: 80px;
	background: rgb(52, 73, 94);
    cursor:pointer;
}

#volumeHead:hover, #volumeHead:active{
	display: inline-block;
	width: 20px;
	height: 20px;
	/* border-radius: 50%; */
	margin-bottom: 4px;
	background: rgb(32, 53, 74);
    cursor:pointer;
}

#volumePercent{
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 20px;
    left: -50px;
    top: -5px;
    /* border-radius: 50%; */
    margin-bottom: 4px;
    cursor: default;
}

.index{
    width: 100%;
    left: 260px;
    position: absolute;
    max-height: 100%;
    z-index: 1;
    padding-bottom: 120px;
    overflow: overlay;
}

p#timeAllotted{
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 1.72222;
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 300px;
}

#audio_file, #directory_input{
    display: none;
}

#file_input_label{
    position: absolute;
    bottom: 80px;
    left: 190px;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

#file_input_label:hover{
    position: absolute;
    bottom: 80px;
    left: 190px;
    display: inline-block;
    font-size: 24px;
    filter:alpha(opacity= 50);
    opacity: .5;
    cursor: pointer;
}

#directory_input_label{
    position: absolute;
    bottom: 80px;
    left: 220px;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
}

#directory_input_label:hover{
    position: absolute;
    bottom: 80px;
    left: 220px;
    display: inline-block;
    font-size: 24px;
    filter:alpha(opacity= 50);
    opacity: .5;
    cursor: pointer;
}

#page_about, #page_settings, #page_playlists{
    display: none;
}

#result li, #page_about li{
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
  text-align: left;
  background: rgba(255,255,255,0.0);
  width: 100%;
}

#result a, #page_about a{
  background: rgba(255,255,255,0.0);
  display: inline-block;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

#result a:hover, #page_about a:hover{
  background: rgba(255,255,255,0.1);
  display: inline-block;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
